body {
    font-family: "Helvetica LT Pro", sans-serif;
}

main.intro {
    text-align: center;
    margin: 2% 20%;
}

main.intro h1 {
    font-size: 10vmin;
}

main.intro h2 {
    font-size: 3vmin;
}

main.intro p {
    font-size: 2vmin;
}

article.bio p {
    text-align: justify;
    text-justify: inter-word;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon {
    width: 5%;
    padding: 1%;
}

.icon a {
    color: black;
}

.icon a:hover {
    color: blueviolet;
}
