body {
    font-family: "Helvetica LT Pro", sans-serif;
}

main.intro {
    text-align: center;

}
@media screen and (min-width: 1200px) {
    main.intro {
        margin: 2% 20%;
    }

    img.profile_picture {
        width: 40%;
    }

    main.intro p {
        font-size: 2vmin;
    }

}
@media screen and (min-width: 992px) {
    main.intro p {
        font-size: 2vmin;
    }
}
main.intro h1 {
    font-size: 10vmin;
}

main.intro h2 {
    font-size: 3vmin;
    padding: 0 12%;
}

main.intro p {
    font-size: 2vmin;
}

article.bio p {
    text-align: justify;
    text-justify: inter-word;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon {
    width: 5%;
    padding: 1%;
}

.icon a {
    color: black;
}

.icon a:hover {
    color: blueviolet;
}

